.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 5px:
    
}
div#content1{
    background-color: azure;
}
div#content2{
    background-color:dimgray;
}